In [ ]:
#Multivariate regression

In [114]:
#imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#config
pd.set_option('max_rows', 5)
%matplotlib inline
plt.rcParams['figure.figsize'] = 8, 4

In [115]:
#read file
houses = pd.read_csv('ex1data2.txt', sep = ',',
                    names=['HouseSize', 'NrOfBedrooms', 'Price'])
houses.head()

   HouseSize  NrOfBedrooms   Price
0       2104             3  399900
1       1600             3  329900
2       2400             3  369000
3       1416             2  232000
4       3000             4  539900

In [116]:
houses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 3 columns):
HouseSize       47 non-null int64
NrOfBedrooms    47 non-null int64
Price           47 non-null int64
dtypes: int64(3)
memory usage: 1.2 KB

In [117]:
houses.describe()

         HouseSize  NrOfBedrooms          Price
count    47.000000     47.000000      47.000000
mean   2000.680851      3.170213  340412.659574
...            ...           ...            ...
75%    2269.000000      4.000000  384450.000000
max    4478.000000      5.000000  699900.000000

[8 rows x 3 columns]

In [118]:
X = houses.iloc[:, 0:2]
X

    HouseSize  NrOfBedrooms
0        2104             3
1        1600             3
..        ...           ...
45       1852             4
46       1203             3

[47 rows x 2 columns]

In [119]:
#mean normalization == substract mean & divide by standard deviation
X = (X - np.mean(X))/np.std(X)
X

    HouseSize  NrOfBedrooms
0    0.131415     -0.226093
1   -0.509641     -0.226093
..        ...           ...
45  -0.189113      1.102205
46  -1.014600     -0.226093

[47 rows x 2 columns]

In [120]:
#prepare data

y = houses.iloc[:, 2]
m = len(y)
ones = np.ones([m, 1])
#add intercept term
X = np.hstack((ones, X))
alpha = 0.01
num_iters = 400
theta = np.zeros((3,1)) #theta length is equal to feature_count + 1 (theta zero)
y = y[:,np.newaxis]
y

array([[399900],
       [329900],
       [369000],
       [232000],
       [539900],
       [299900],
       [314900],
       [198999],
       [212000],
       [242500],
       [239999],
       [347000],
       [329999],
       [699900],
       [259900],
       [449900],
       [299900],
       [199900],
       [499998],
       [599000],
       [252900],
       [255000],
       [242900],
       [259900],
       [573900],
       [249900],
       [464500],
       [469000],
       [475000],
       [299900],
       [349900],
       [169900],
       [314900],
       [579900],
       [285900],
       [249900],
       [229900],
       [345000],
       [549000],
       [287000],
       [368500],
       [329900],
       [314000],
       [299000],
       [179900],
       [299900],
       [239500]])

In [121]:
def costFunction(X, y, theta):
    temp = np.dot(X, theta) - y
    return np.sum(np.power(temp, 2)) / (2*m)

In [122]:
#expected 65591548106.45744
costFunction(X, y, theta)

65591548106.45744

In [123]:
def gradientDescent(X, y, theta, alpha, iterations):
    for _ in range(0, iterations):
        temp = np.dot(X, theta) - y
        temp = np.dot(X.T, temp)
        theta = theta - (alpha / m) * temp
        
    return theta

In [124]:
#expected [[334302.06399328],[ 99411.44947359], [3267.01285407]]
new_theta = gradientDescent(X, y, theta, alpha, num_iters)
new_theta

array([[334302.06399328],
       [ 99411.44947359],
       [  3267.01285407]])

In [125]:
#new cost, expected 2105448288.6292474
J = costFunction(X, y, new_theta)
J

2105448288.6292474